<div class="container-fluid mt-3 pt-3">
  <div class="row d-flex bd-highlight mb-3">
    <div class="col d-flex justify-content-start">
      <p class="fs-3 m-2">Ticketerstellung</p>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-secondary shadow rounded-3 btn-sm m-2" routerLink="/tickets">
        <i class="fas fa-window-close"></i>
        Abbrechen
      </button>
    </div>
  </div>
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="singleContractFormGroup" errorMessage="Vertrag muss ausgewählt sein"
      *ngIf="contracts.length == 1" [hasError]="hasContract" state="contract">
      <form [formGroup]="singleContractFormGroup">
        <mat-form-field appearance="fill">
          <ng-template matStepLabel>Vertrag auswählen</ng-template>

          <input matInput *ngIf="contracts.length == 1" formControlName="singleCtrl" readonly>
          <mat-label class="text-dark">Vertrag</mat-label>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="contractFormGroup" errorMessage="Vertrag muss ausgewählt sein"
      *ngIf="contracts.length !== 1" [hasError]="hasContract" state="contract">
      <form [formGroup]="contractFormGroup">
        <mat-form-field appearance="fill">
          <ng-template matStepLabel>Geben Sie den Vertrag an</ng-template>
          <mat-label class="text-dark">Vertrag</mat-label>
          <mat-select *ngIf="contracts.length > 1" required formControlName="contractCtrl"
            (ngModelChange)="getContactsFromCurrentContract()">
            <mat-option *ngFor="let contract of contracts" [value]="contract.tenant.id">
              {{contract.tenant.nameToDisplay}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="priorityFormGroup" errorMessage="Priorität muss ausgewählt sein" [hasError]="hasPriority"
      state="priority">
      <form [formGroup]="priorityFormGroup">
        <ng-template matStepLabel matStepperIcon="phone">Geben Sie die Priorität an</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Priorität</mat-label>
          <mat-select required formControlName="priorityCtrl" (ngModelChange)="changeErrorCheck('priority')">
            <mat-option value=" Critical Fault">Critical Fault</mat-option>
            <mat-option value="Major Fault">Major Fault</mat-option>
            <mat-option value="Minor Fault">Minor Fault</mat-option>
            <mat-option value="Technical Request">Technical Request</mat-option>
            <mat-option value="Improvement">Improvement</mat-option>
            <mat-option value="User Request">User Request</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl !== 'User Request'" [stepControl]="shortDescFormGroup"
      errorMessage="Kurzbeschreibung muss angegeben werden" [hasError]="hasShortDesc" state="shortDsc">
      <form [formGroup]="shortDescFormGroup">
        <ng-template matStepLabel>Worum geht es?</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Kurzbeschreibung</mat-label>
          <input matInput required formControlName="shortDescCtrl" (ngModelChange)="changeErrorCheck('shortDesc')">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl !== 'User Request'" [hasError]="hasLongDesc"
      state="longDsc">
      <ng-template matStepLabel>Beschreiben Sie den Sachverhalt</ng-template>
      <ckeditor [(ngModel)]="ckEditorInput" [config]="editorCfg" [editor]="Editor" (ready)="onReady($event)"
        (ngModelChange)="changeErrorCheck('longDesc')"></ckeditor>
      <div class="mt-2">
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="onSubmit()">Absenden</button>
      </div>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl == 'User Request'" [stepControl]="nameFormGroup"
      errorMessage="Die Namen muss angegeben werden" [hasError]="hasName" state="firstNamelastName">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Geben Sie den Namen des neuen Benutzers an</ng-template>
        <mat-form-field appearance="fill" class="me-4">
          <mat-label class="text-dark">Vorname</mat-label>
          <input matInput required formControlName="firstNameCtrl" (ngModelChange)="changeErrorCheck('firstName')">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Nachname</mat-label>
          <input matInput required formControlName="lastNameCtrl" (ngModelChange)="changeErrorCheck('lastName')">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl == 'User Request'" [stepControl]="emailFormGroup"
      errorMessage="E-Mail Adresse nicht vorhanden oder fehlerhaft" [hasError]="hasEmail" state="email">
      <form [formGroup]="emailFormGroup">
        <ng-template matStepLabel>Geben Sie die Email-Adresse des neuen Benutzers an</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Email-Adresse</mat-label>
          <input type="email" matInput formControlName="emailCtrl" (ngModelChange)="changeErrorCheck('email')">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl == 'User Request'" [stepControl]="phoneFormGroup"
      errorMessage="Vertrag muss ausgewählt sein" state="phone">
      <form [formGroup]="phoneFormGroup">
        <ng-template matStepLabel>Geben Sie die Telefonnumer des neuen Benutzers an</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Telefon</mat-label>
          <input type="phone" matInput>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="this.priorityFormGroup.value.priorityCtrl == 'User Request'" [stepControl]="referenceUserFormGroup"
      errorMessage="Referenzuser muss ausgewählt sein" [hasError]="hasReferenceUser" state="referenceUser">
      <form [formGroup]="referenceUserFormGroup">
        <ng-template matStepLabel>Von welchen Benutzer sollen die Berechtigungen übernommen werden?</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Referenzuser</mat-label>
          <mat-select required formControlName="referenceUserCtrl" (ngModelChange)="changeErrorCheck('referenceUser')">
            <mat-option value="none">
              Keine/r
            </mat-option>
            <mat-option [value]="contact.userName" *ngFor="let contact of contacts">
              {{ contact.christianName + " " + contact.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button *ngIf="this.referenceUserFormGroup.value.referenceUserCtrl ==  'none'" mat-button
            matStepperNext>Weiter</button>
          <button
            *ngIf="this.referenceUserFormGroup.value.referenceUserCtrl !==  'none' && this.referenceUserFormGroup.value.referenceUserCtrl !==  ''"
            mat-button (click)="onSubmit()" class="btn btn-primary">Absenden</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="(this.priorityFormGroup.value.priorityCtrl == 'User Request') &&
       (this.referenceUserFormGroup.value.referenceUserCtrl ==  'none')" [stepControl]="rightsFormGroup"
      [hasError]="hasRights" errorMessage="Berechtigungen müssen vergeben werden, wenn kein Referenzuser vorhanden ist"
      state="rights">
      <form [formGroup]="rightsFormGroup">
        <ng-template matStepLabel>Welche Berechtigungen soll der neue Benutzer bekommen?</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Benutzerrechte</mat-label>
          <input matInput required formControlName="rightsCtrl" (ngModelChange)="changeErrorCheck('rights')">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button (click)="onSubmit()">Absenden</button>
        </div>
      </form>
    </mat-step>
    <ng-template matStepperIcon="contract">
      <mat-icon>assignment</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="priority">
      <mat-icon>priority_high</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="shortDsc">
      <mat-icon>title</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="longDsc">
      <mat-icon>description</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="firstNamelastName">
      <mat-icon>badge</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="email">
      <mat-icon>email</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="phone">
      <mat-icon>phone</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="referenceUser">
      <mat-icon>people_outline</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="rights">
      <mat-icon>computer</mat-icon>
    </ng-template>
  </mat-stepper>
  <div class="mt-3 alert alert-danger alert-dismissible fade show fade show p-1" role="alert"
    *ngIf="invalidCredentialMsg">
    <i class="fas fa-exclamation-circle"></i>
    {{ invalidCredentialMsg }}
  </div>
</div>