<div class="container-fluid pt-3">
  <div class="container shadow-lg rounded-lg px-5">
    <div class="row"><p id="title4">Was ist neu in Rimo?</p></div>
    <div class="row mt-2">
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            title="YouTube video"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="row fs-5 mt-3">Release Update 10/21</div>
    <div class="row fs-6">
      <div>
        <div>&nbsp;</div>
        <div><strong>Neu</strong></div>
        <ul>
          <li>
            Beim Erstellen von Site Clustern ist es nun m&ouml;glich den Sub
            Type (Ausbau,Funding,...) des Site Clusters auszuw&auml;hlen.
          </li>
          <li>Funding - geopackage Format f&uuml;r BBA 2030</li>
          <li>Selektive Benachrichtigungen &amp; Preview M&ouml;glichkeiten</li>
          <li>
            Auch bei FTTx-Locations kann jetzt eine Options-Berechnung f&uuml;r
            optimale Ausbaustufen erstellt werden.
          </li>
        </ul>
        <div><strong>&Auml;nderungen</strong></div>
        <ul>
          <li>
            Projectplus:​​​​​​​​​​​​​​
            <ul>
              <li>
                Verbesserungen beim Up- und Download von Files im Workmode
              </li>
              <li>Fehlerbehebungen bei den Beziehungsfolgen (AA + EE)</li>
              <li>
                Korrekturen bei den Sprint-Berechtigungen, sowie den PO- und
                SO-Berechtigungen
              </li>
              <li>
                Verschieben einer SO zu einem anderen Projekt innerhalb der
                gleichen Firma und Debitoren
              </li>
              <li>CSV-Export vom Projektmanagement-Daten</li>
              <li>
                Reaktion auf Termin&auml;nderungen - Automatisation der
                Umplanung
              </li>
              <li>Verbesserungen Split-WP</li>
              <li>Mail 2 WP -&gt; Erleichterung der Kommunikation</li>
            </ul>
          </li>
          <li>
            Add-On "Time and Travel"
            <ul>
              <li>
                Anpassung der Zeitschreibungsm&ouml;glichkeiten und des
                Periodenabschlusses
              </li>
              <li>Zeitausgleich (ZA) lt. Arbeitszeitmodell</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
