<div class="container fluid">
<table id="ticktes" class="table table-striped table-striped text-center shadow" style="width:100%" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Kurztext</th>
            <th>Langtext</th>
            <th>Reporter</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody *ngFor="let ticket of tickets">
        <tr routerLink="/edit/{{ticket.id}}">
            <td>{{ticket.id}}</td>
            <td>{{ticket.name}}</td>
            <td>{{ticket.shortText}}</td>
            <td>{{ticket.longText}}</td>
            <td>{{ticket.reporter}}</td>
            <td>{{ticket.state}}</td>
        </tr>
    </tbody>
</table>
</div>