<div class="container-fluid">
  <div class="row p-3">
    <div
      class="d-grid gap-1 d-md-flex d-flex justify-content-center align-items-center"
    >
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Neu</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">
            In Bearbeitung
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="option3"
          />
          <label class="form-check-label" for="inlineRadio3">
            Zu verifizieren
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio4"
            value="option4"
          />
          <label class="form-check-label" for="inlineRadio4">
            Meine
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio5"
            value="option5"
          />
          <label class="form-check-label" for="inlineRadio5">
            Favoriten
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-3 mt-4">
    <table
      id="example"
      class="table table-striped display"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    >
      <thead class="table">
        <tr class="fw-bolder">
          <th>Name</th>
          <th>Reporter</th>
          <th>Kurztext</th>
          <th>State</th>
          <th>Type</th>
          <th>Priorität</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets" routerLink="/edit/{{ ticket.id }}">
          <td class="text-muted">
            {{ ticket.name }}
          </td>
          <td class="text-muted">
            {{ ticket.requestor.nameToDisplay }}
          </td>
          <td class="text-muted">
            {{ ticket.shortText }}
          </td>

          <td class="text-muted">
            {{ ticket.state.nameToDisplay }}
          </td>
          <td class="text-muted">
            {{ ticket.type.nameToDisplay }}
          </td>
          <td class="text-muted">
            {{ ticket.priority === null ? '' : ticket.priority.nameToDisplay }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
