<div class="container-fluid mt-5" style="padding-top: 60px;">
  <div class="container-fluid mt-1">
    <div class="row">
      <div class="d-grid gap-2 d-md-flex d-flex justify-content-between">
        <div class="justify-content-md-">
          <p class="fs-5">Offene Tickets</p>
        </div>
        <button
          class="btn btn-secondary shadow-sm btn-sm"
          type="submit"
          routerLink="/createTicket"
        >
          + Ticket erstellen
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <table
      id="example"
      class="table shadow table-striped"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      style="width: 100%;"
    >
      <thead class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Kurztext</th>
          <th>Langtext</th>
          <th>Reporter</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets" routerLink="/edit/{{ ticket.id }}">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.name }}</td>
          <td>{{ ticket.shortText }}</td>
          <td>{{ ticket.longText }}</td>
          <td>{{ ticket.reporter }}</td>
          <td>{{ ticket.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
