.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url(/assets/images/kontakt_herov1_1.jpg);
  background-size: cover;
  background-position: center;
}
.invalid-feedback {
  margin-left: 5px;
}

.carousel-item {
  height: 80vh;
}
