.navbar-light .navbar-nav .nav-link {
  color: rgb(247, 244, 244);
}

a:visited {
  color: #6c757d;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /*color: #66ad09;*/
  text-decoration: underline;
}
