<header>
  <main *ngIf="isVisible()">
    <nav class="navbar navbar-expand-lg navbar-dark py-0" style="background-color: #27526e;">
      <div class="container-fluid align-items-center">
        <div class="navbar-brand align-items-center">
          <a>
            <img src="./assets/images/cropped-symbol_rgb.png" width="30" height="30" alt="" />
          </a>
          <p class="ms-3 mb-0 fs-6 text-white d-inline-flex">
            Ticketing
          </p>
        </div>
        <div class="d-none d-lg-inline-flex text-white" style="height: 20px">
          <div class="vr mx-2"></div>
        </div>
        <button class="navbar-toggler fs-6 text-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/tickets">
                <strong>Tickets</strong>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://wiki.rimo-systems.com/index.php?title=Hauptseite" target="_blank">
                <strong>Wiki</strong>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li>
              <button (click)="onSubmit()" class="fas fa-search text-white bg-transparent border-0"></button>
              <mat-form-field class="text-white pe-3 py-0 my-0" floatLabel="never">
                <mat-label>Alle Tickets durchsuchen</mat-label>
                <input (keyup.enter)="onSubmit()" class="text-white" id="globalSearch" matInput>
              </mat-form-field>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav align-items-center" style="flex-direction: row;">
          <li>
            <button class="btn btn-primary btn-sm m-2" type="submit" routerLink="/createTicket">
              <i class="fas fa-plus-square"></i>
              <span class="ps-2 d-none d-lg-inline">Ticket</span>
            </button>
          </li>
          <div class="d-flex" style="height: 20px; color: white;">
            <div class="vr mx-2"></div>
          </div>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle href="#"
              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <ngx-avatar size="40" name="{{ this.getCurrentUser().getFullName() }}"></ngx-avatar>
            </a>
            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown">
              <li>
                <a ngbDropdownItem class="dropdown-item" (click)="logout()">
                  Abmelden
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <app-breadcrumb></app-breadcrumb>
  </main>
</header>