<header>
  <main *ngIf="isVisible()">
    <nav
      class="navbar navbar-expand navbar-dark"
      style="background-color: #27526e;"
    >
      <div class="container-fluid">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a routerLink="/notifications" class="navbar-brand fs-5">
              <img
                src="./assets/images/cropped-symbol_rgb.png"
                width="30"
                height="30"
                alt=""
              />
            </a>
            <a
              data-bs-toggle="offcanvas"
              href="#offcanvasExample"
              class="navbar-brand fs-5"
            >
              Ticketing
              <i class="fas fa-chevron-down text-success"></i>
            </a>
          </li>
          <div class="d-flex" style="height: 20px; color: white;">
            <div class="vr"></div>
          </div>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/tickets"
            >
              <strong>Tickets</strong>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="https://wiki.rimo-systems.com/index.php?title=Hauptseite"
              target="_blank"
            >
              <strong>Info</strong>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center">
          <li ngbDropdown class="nav-item dropdown pull-right ml-auto">
            <a
              ngbDropdownToggle
              href="#"
              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://avatars.githubusercontent.com/u/39443209?v=4"
                alt=""
                width="33"
                height="33"
                class="rounded-circle me-2"
              />
              Emir
            </a>
            <ul
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end shadow"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a
                  ngbDropdownItem
                  class="dropdown-item"
                  routerLink="/userProfile"
                >
                  Settings
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" (click)="logout()">
                  Abmelden
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <app-breadcrumb></app-breadcrumb>
    <div id="nav-button-menu-place">
      <i routerLink="/login" class="fas fa-caret-right fa-3x text-success"></i>
    </div>
  </main>
</header>

<div
  class="offcanvas offcanvas-top"
  style="width: 100%; height: 100%; background-color: #e8eaed;"
  tabindex=""
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header text-dark align-items-center">
    <h5 class="offcanvas-title fs-4" id="offcanvasExampleLabel"></h5>
    <button
      type="button"
      class="btn-close text-reset text-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="offcanvas-body">
      <div class="container" style="padding-left: 10%; padding-right: 10%;">
        <div class="row pt-3">
          <div class="col-3">
            <div class="card shadow round btn-outline-success">
              <div class="card-body text-center">
                <i class="fas fa-home" aria-hidden="true"></i>
                <h5 class="card-title">Home</h5>
              </div>
              <a href="/notifications" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round btn-outline-success">
              <div class="card-body text-center">
                <i class="fas fa-ticket-alt"></i>
                <h5 class="card-title">Ticketing</h5>
              </div>
              <a href="/tickets" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow round bg-light">
              <div class="card-body text-center">
                <i class="fas fa-spinner"></i>
                <h5 class="card-title">...</h5>
              </div>
              <a href="/login" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
