<header>
  <main *ngIf="isVisible()">
    <nav
      class="navbar navbar-expand navbar-dark"
      style="background-color: #27526e;"
    >
      <div class="container-fluid">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a
              data-bs-toggle="offcanvas"
              href="#offcanvasExample"
              class="navbar-brand fs-5"
            >
              <img
                src="./assets/images/cropped-symbol_rgb.png"
                width="30"
                height="30"
                alt=""
              />

              Ticketing
              <i class="fas fa-chevron-down"></i>
            </a>
          </li>
          <div class="d-flex" style="height: 20px; color: white;">
            <div class="vr"></div>
          </div>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/tickets"
            >
              <strong>Tickets</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tickets">
              <strong>Reporting</strong>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://wiki.rimo-systems.com/index.php?title=Hauptseite"
              target="_blank"
            >
              <strong>Info</strong>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center">
          <li ngbDropdown class="nav-item dropdown pull-right ml-auto">
            <a
              ngbDropdownToggle
              href="#"
              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://avatars.githubusercontent.com/u/39443209?v=4"
                alt=""
                width="33"
                height="33"
                class="rounded-circle me-2"
              />
              Emir
            </a>
            <ul
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end shadow"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a
                  ngbDropdownItem
                  class="dropdown-item"
                  routerLink="/userProfile"
                >
                  Settings
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" (click)="logout()">
                  Abmelden
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <app-breadcrumb></app-breadcrumb>
  </main>
</header>

<div
  class="offcanvas offcanvas-top round"
  style="width: 100%;"
  tabindex=""
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header text-dark align-items-center">
    <h5 class="offcanvas-title fs-4" id="offcanvasExampleLabel">
      Module
    </h5>
    <button
      type="button"
      class="btn-close text-reset text-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="row row-cols-4 row-cols-md-8 g-4">
      <div class="col">
        <div class="card shadow round bg-light">
          <div class="card-body text-center">
            <i class="fas fa-home" aria-hidden="true"></i>
            <h5 class="card-title">Home</h5>
          </div>
          <a href="/login" class="btn btn-light stretched-link"></a>
        </div>
      </div>
      <div class="col">
        <div class="card shadow round bg-light">
          <div class="card-body text-center">
            <i class="fas fa-ticket-alt" aria-hidden="true"></i>
            <h5 class="card-title">Ticketing</h5>
          </div>
          <a href="/login" class="btn btn-light stretched-link"></a>
        </div>
      </div>
      <div class="col">
        <div class="card shadow round bg-light">
          <div class="card-body text-center">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <h5 class="card-title">Dashboard</h5>
          </div>
          <a href="/login" class="btn btn-light stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
