<div class="container-fluid max-width shadow " style="background-color: #e8eaed;">
  <ol class="breadcrumb" *ngIf="isIdsEmpty()"></ol>
  <ol class="breadcrumb d-flex justify-content-center">
    <li class="active breadcrumb-item {{
        getCurrentBCId() === bci.id ? 'active' : ''
      }}" aria-current="page" *ngFor="let bci of ids.slice().reverse()">
      <a *ngIf="!isActive(bci)" href="/edit/{{ bci.id }}">
        {{ bci.name }}
      </a>
      <span *ngIf="isActive(bci)">{{ bci.name }}</span>
    </li>
  </ol>
</div>