<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Neues Passwort vergeben
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-4">
                        <mat-label>Neues Passwort</mat-label>
                        <input id="newPwInput" matInput formControlName="currentPw" type="password"
                            [ngClass]="{ 'is-invalid': submitted && f.currentPw.errors }" autofocus="true"
                            class="form-control bottom-border mb-4" required>
                        <div *ngIf="submitted && f.currentPw.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPw.errors.required">
                                Neues Passwort notwendig
                            </div>
                        </div>
                        <mat-label>Neues Passwort bestätigen</mat-label>
                        <input matInput formControlName="currentPwConfirm" type="password"
                            [ngClass]="{ 'is-invalid': submitted && f.currentPwConfirm.errors }" autofocus="true"
                            class="form-control bottom-border" required>
                        <div *ngIf="submitted && f.currentPwConfirm.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPwConfirm.errors.required">
                                Neues Passwort bestätigen notwendig
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary bg-sm" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" class="btn btn-outline-primary">
                            Ok
                        </button>
                    </div>
                    <div class="mt-2 mx-3 alert alert-danger alert-dismissible fade show fade show p-1" role="alert"
                        *ngIf="errorMsg">
                        <i class="fas fa-exclamation-circle"></i>
                        {{ errorMsg }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>