<div class="modal fade" id="changeTicketRequestorlModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Requestor ändern
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactFormGroup">
          <ngx-select-dropdown [config]="config" [options]="contactList" [formControl]="contactCtrl">
          </ngx-select-dropdown>
          <div class="mt-3 alert alert-danger alert-dismissible fade show fade show p-1" role="alert" *ngIf="errorMsg">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMsg }}
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary bg-sm" data-bs-dismiss="modal">
            Schließen
          </button>
          <button (click)="onSubmit()" type="button" class="btn btn-outline-primary">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>