<div class="modal fade" id="removeTicketContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Kontakte entfernen
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="fill">
          <mat-label class="text-dark">Kontakte</mat-label>
          <mat-select [formControl]="contacts" [(value)]="selected" [formControl]="contacts" required>
            <mat-option *ngFor="let contact of contactList" [value]="contact.userName">
              {{contact.firstName + ' ' + contact.lastName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contacts.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary bg-sm" data-bs-dismiss="modal">
          Schließen
        </button>
        <button (click)="onSubmit()" type="button" class="btn btn-outline-primary">
          OK
        </button>
      </div>
    </div>
  </div>
</div>