<div class="container shadow rounded bg-light">
  <div class="row text-center">
    <div class="col d-flex justify-content-left">
      <p class="fs-4 m-2">Ticketerstellung</p>
    </div>
    <div class="col d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-outline-secondary btn-sm m-2 shadow"
        routerLink="/tickets"
      >
        <i class="fas fa-window-close"></i>
        Abbrechen
      </button>
      <button
        type="submit"
        class="btn btn-outline-success btn-sm m-2 shadow"
        (click)="save()"
      >
        <i class="fas fa-paper-plane"></i>
        Abschicken
      </button>
    </div>
  </div>
</div>

<div class="container bg-light mt-3 pt-3">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Auswählen</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Type</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Auswählen</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Priorität</label>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="form-floating mb-3">
        <input
          type="input"
          class="form-control"
          id="floatingInput"
          placeholder="Kurzbeschreibung"
          [(ngModel)]="ticket.shortText"
        />
        <label for="floatingInput">Kurzbeschreibung</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4" class="align-self-center">
      <label class="from-label text-muted small">
        Langbeschreibung:
      </label>
      <ckeditor
        [config]="{
          height: '800px',
          filebrowserUploadUrl:
            'https://rimo-dev.rimo-saas.com/soap/ckupload.php',
          filebrowserImageUploadUrl:
            'https://rimo-dev.rimo-saas.com/soap/ckupload.php'
        }"
        [(ngModel)]="model.editorData"
      ></ckeditor>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-success mt-3" role="alert">
        <i class="far fa-smile-wink"></i>
        Bitte den Fehler möglichst gut beschreiben!
      </div>
    </div>
  </div>
  <div class="row mt-3"></div>
</div>
