<div class="container-fluid">
  <div class="col">
    <div class="row p-2 mb-4 sticky-top">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div
            class="btn-group d-flex flex-row"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              type="button"
              class="btn btn-secondary shadow btn-sm"
              routerLink="/tickets"
            >
              <i class="fas fa-arrow-left"></i>
              Zurück
            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm">
              <i class="far fa-comment"></i>
              Kommentar
            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm">
              <i class="fas fa-undo"></i>
              Reopen
            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm">
              <i class="fas fa-check"></i>
              Erledigt
            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm">
              <i class="fas fa-trash-alt"></i>
              Löschen
            </button>

            <div class="btn-group" role="group">
              <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-secondary dropdown-toggle shadow-lg btn-sm"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Weitere
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-edit"></i>
                    Titel ändern
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-people-arrows"></i>
                    Andrer Reporter
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="row shadow p-4 fs-5 bg-light rounded-3">
      <div class="col">
        <div class="row text-dark">
          <span class="text-left text-uppercase">#{{ ticket.name }}</span>
        </div>
        <div class="row">
          <span class="text-left">
            <div
              class="text-left badge text-wrap"
              style="width: 6rem;"
              [style.background-color]="
                !ticket.state ? 'black' : ticket.state.colorValue
              "
            >
              {{ !ticket.state ? '' : ticket.state.nameToDisplay }}
            </div>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3 align-self-center">
            <ngx-avatar
              size="35"
              name="{{
                !ticket.requestor ? '' : ticket.requestor.nameToDisplay
              }}"
            ></ngx-avatar>
          </div>

          <div class="col text-center">
            <div class="row small text-muted">Reporter</div>
            <div class="row">
              {{ !ticket.requestor ? '' : ticket.requestor.nameToDisplay }}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3 align-self-center">
            <ngx-avatar
              size="35"
              name="{{
                !ticket.assignedTo ? '' : ticket.assignedTo.nameToDisplay
              }}"
            ></ngx-avatar>
          </div>
          <div class="col text-center">
            <div class="row small text-muted">Zugewiesen</div>
            <div class="row">
              {{ !ticket.assignedTo ? '' : ticket.assignedTo.nameToDisplay }}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="row small text-muted">Priorität</div>
          <div class="row d-inline-flex">
            <span
              class="badge text-wrap text-light text-left"
              [style.background-color]="
                !ticket.priority ? 'black' : ticket.priority.colorValue
              "
            >
              {{
                ticket.priority === null ? '' : ticket.priority.nameToDisplay
              }}
              <i
                class="{{
                  ticket.priority === null ? '' : ticket.priority.faIcon
                }}"
              ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="row small text-muted al">
            <span class="text-left">Erstelldatum</span>
          </div>
          <div class="row">
            <span class="text-left">{{ ticket.creationDate }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="row small text-muted al">
            <span class="text-left">Type</span>
          </div>
          <div class="row">
            <span class="text-left">
              <span
                class="badge text-wrap text-light"
                [style.background-color]="
                  !ticket.type ? 'black' : ticket.type.colorValue
                "
              >
                {{ ticket.type === null ? '' : ticket.type.nameToDisplay }}
                <i
                  class="{{ ticket.type === null ? '' : ticket.type.faIcon }}"
                ></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-4 mt-4 shadow bg-light rounded-3">
      <div class="row">
        <div class="row text-muted mt-1">
          <div>Kurzbeschreibung</div>
        </div>
        <div class="row mt-1">
          <div>
            {{ ticket.shortText }}
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="row text-muted mt-1">
          <div>Langbeschreibung</div>
        </div>
        <div class="row mt-1 pb-1">
          <div
            class="scrollable overflow-auto"
            [innerHTML]="ticket.longText"
            style="height: auto;"
          ></div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            <i class="fas fa-comments"></i>
            Kommentare
          </button>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            Kontakte
          </a>
        </li>
      </ul>
      <hr class="border-1 border-top border-secondary" />
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="row">
            <div
              class="card shadow mt-3 rounded-3"
              *ngFor="let note of ticket.notes"
            >
              <div class="card-header">
                <div class="row d-flex bd-highlight align-items-center">
                  <div
                    class="col d-flex justify-content-start align-items-center"
                  >
                    <ngx-avatar
                      size="35"
                      name="{{ note.createdBy.nameToDisplay }}"
                    ></ngx-avatar>

                    {{ !note.createdBy ? '' : note.createdBy.nameToDisplay }}
                  </div>

                  <div class="col d-flex justify-content-end">
                    {{ !note.state ? '' : note.state.nameToDisplay }},
                    {{ note.creationDate }}
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div
                  class="scrollable overflow-auto"
                  [innerHTML]="note.text"
                  style="height: auto;"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          In Arbeit
        </div>
      </div>
    </div>
  </div>
</div>
