<div class="container-fluid">
  <div class="col">
    <div class="row p-2 mb-4 sticky-top mx-lg-5">
      <div class="row">
        <div>
          <div class="btn-group d-flex flex-row" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary shadow btn-sm" routerLink="/tickets">
              <i class="fas fa-arrow-left"></i>
              <span class="ps-1 d-none d-md-inline">Zurück</span>
            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm" (click)="ngOnInit()">
              <i class="fas fa-sync"></i>
              <span class="ps-1 d-none d-md-inline">Erneut laden</span>

            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm" data-bs-target="#commentModal"
              data-bs-toggle="modal" [disabled]="ticket.isClosed || !ticket.canBeModifiedByUser">
              <i class="far fa-comment"></i>
              <span class="ps-1 d-none d-md-inline">Kommentar</span>

            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm" href="#" data-bs-toggle="modal"
              data-bs-target="#reopenModal"
              [disabled]="ticket.isOpenAble || !ticket.isNotPending || !ticket.canBeModifiedByUser">
              <i class="fas fa-undo"></i>
              <span class="ps-1 d-none d-md-inline">Reopen</span>

            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm" href="#" data-bs-toggle="modal"
              data-bs-target="#doneModal"
              [disabled]="ticket.isOpenAble || !ticket.isNotPending || !ticket.canBeModifiedByUser">
              <i class="fas fa-check"></i>
              <span class="ps-1 d-none d-md-inline">Erledigt</span>

            </button>
            <button type="button" class="btn btn-secondary shadow btn-sm" href="#" data-bs-toggle="modal"
              data-bs-target="#deleteModal" [disabled]="!ticket.isNotPending || !ticket.canBeModifiedByUser">
              <i class="fas fa-trash-alt"></i>
              <span class="ps-1 d-none d-md-inline">Löschen</span>

            </button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle shadow-lg btn-sm"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="ps-1 d-none d-md-inline">Weitere</span>

              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li>
                  <button class="dropdown-item" href="#" data-bs-toggle="modal"
                    data-bs-target="#changeTicketRequestorlModal"
                    [disabled]="ticket.isClosed || !ticket.canBeModifiedByUser">
                    <i class="fas fa-user"></i>
                    Requestor ändern
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#changeTitelModal"
                    [disabled]="ticket.isClosed || !ticket.canBeModifiedByUser">
                    <i class="fas fa-edit"></i>
                    Titel ändern
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newTicketContact"
                    [disabled]="ticket.isClosed || !ticket.canBeModifiedByUser">
                    <i class="fas fa-user-plus"></i>
                    Kontakte hinzufügen
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeTicketContact"
                    [disabled]="ticket.isClosed || !ticket.canBeModifiedByUser">
                    <i class="fas fa-user-minus"></i>
                    Kontakte entfernen
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row shadow p-2 bg-light rounded-3 mx-2 mx-lg-0">
      <div class="col d-md-block d-lg-none">
        <div class="row">
          <div class="col">
            <div class="row text-dark">
              <span class="text-left text-uppercase fw-bold">
                #{{ ticket.name }}
              </span>
            </div>
            <div class="row">
              <span class="text-left">
                <div class="text-left badge text-wrap" style="width: 6rem;" [style.background-color]="
                                                !ticket.state ? 'black' : ticket.state.colorValue
                                              ">
                  {{ !ticket.state ? '' : ticket.state.nameToDisplay }}
                </div>
              </span>
            </div>
          </div>
          <div class="col d-flex align-items-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTicketInfos"
              role="button" aria-expanded="false" aria-controls="collapseTicketInfos">
              <i class="fas fa-plus-circle fa"></i>
              Ticket Details
            </button>
          </div>
        </div>
        <div class="row">
          <div class="collapse" id="collapseTicketInfos">
            <div class="row py-2">
              <div class="col d-lg-none">
                <div class="row small text-muted">Kurztext</div>
                <div class="row text-truncate">
                  <span class="text-start ps-0 text-truncate" style="max-width: 200px">
                    {{ ticket.shortText }}
                  </span>
                </div>
              </div>
              <div class="col text-center">
                <div class="row small text-muted">Reporter</div>
                <div class="row">
                  {{ !ticket.requestor ? '' : ticket.requestor.christianName + " " + ticket.requestor.lastName }}
                </div>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col d-lg-none">
                <div class="row">
                  <div class="col text-center">
                    <div class="row small text-muted">Zugewiesen</div>
                    <div class="row">
                      {{ !ticket.assignedTo ? '' : ticket.assignedTo.christianName + " " + ticket.assignedTo.lastName }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-lg-none">
                <div class="col">
                  <div class="row small text-muted">Priorität</div>
                  <div class="row d-inline-flex">
                    <span class="badge text-wrap text-light text-left" [style.background-color]="
                                                            !ticket.priority ? 'black' : ticket.priority.colorValue
                                                          ">
                      {{ !ticket.priority ? '' : ticket.priority.nameToDisplay }}
                      <i class="{{ !ticket.priority ? '' : ticket.priority.faIcon }}"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-lg-none">
                <div class="row small text-muted">
                  Erstelldatum
                </div>
                <div class="row">
                  <div class="text-left small g-0">
                    {{ ticketCreationDate | date:'dd.MM.yyyy hh:mm' }} ({{ ticketCreationDate | date:'dd.MM.yyyy' |
                    DayAgo
                    }})
                  </div>
                </div>
              </div>
              <div class="col d-lg-none">
                <div class="col">
                  <div class="row small text-muted">
                    Typ
                  </div>
                  <div class="row ">
                    <span class="text-left g-0">
                      <span class="badge text-wrap text-light" [style.background-color]="
                      !ticket.type ? 'black' : ticket.type.colorValue
                    ">
                        {{ !ticket.type ? '' : ticket.type.nameToDisplay }}
                        <i class="{{ !ticket.type ? '' : ticket.type.faIcon }}"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-lg-none">
                <div class="row small text-muted">
                  Vertrag
                </div>
                <div class="row">
                  <div class="text-left small g-0">
                    {{ ticket.getTicketingContract.displayInfo
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="row text-dark">
          <span class="text-left text-uppercase fw-bold">
            #{{ ticket.name }}
          </span>
        </div>
        <div class="row">
          <span class="text-left">
            <div class="text-left badge text-wrap" style="width: 6rem;" [style.background-color]="
                          !ticket.state ? 'black' : ticket.state.colorValue
                        ">
              {{ !ticket.state ? '' : ticket.state.nameToDisplay }}
            </div>
          </span>
        </div>
      </div>
      <div class="col d-none d-lg-block text-truncate" style="max-width: 10%">
        <div class="row small text-muted">Kurztext</div>
        <div class="row text-truncate">
          <span class="text-start ps-0">
            {{ ticket.shortText }}
          </span>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="row">
          <div class="col-xxl-3 col-lg-5 col-md-6">
            <ngx-avatar size="35" name="{{
                !ticket.requestor ? '' : ticket.requestor.nameToDisplay
              }}"></ngx-avatar>
          </div>

          <div class="col">
            <div class="row small text-muted">Reporter</div>
            <div class="row">
              {{ !ticket.requestor ? '' : ticket.requestor.christianName + " " + ticket.requestor.lastName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="row">
          <div class="col-xxl-3 col-lg-5 col-md-6">
            <ngx-avatar size="35" name="{{
                !ticket.assignedTo ? '' : ticket.assignedTo.nameToDisplay
              }}"></ngx-avatar>
          </div>
          <div class="col">
            <div class="row small text-muted">Zugewiesen</div>
            <div class="row">
              {{ !ticket.assignedTo ? '' : ticket.assignedTo.christianName + " " + ticket.assignedTo.lastName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block" style="max-width: 10% !important">
        <div class="col">
          <div class="row small text-muted">Priorität</div>
          <div class="row d-inline-flex">
            <span class="badge text-wrap text-light text-left" [style.background-color]="
                !ticket.priority ? 'black' : ticket.priority.colorValue
              ">
              {{ !ticket.priority ? '' : ticket.priority.nameToDisplay }}
              <i class="{{ !ticket.priority ? '' : ticket.priority.faIcon }}"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="col">
          <div class="row small text-muted al">
            <span class="text-left">Erstelldatum</span>
          </div>
          <div class="row">
            <span class="text-left small">
              {{ ticketCreationDate | date:'dd.MM.yyyy hh:mm' }} ({{ ticketCreationDate | date:'dd.MM.yyyy' | DayAgo
              }})
            </span>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block" style="max-width: 10%">
        <div class="col">
          <div class="row small text-muted al">
            <span class="text-left">Typ</span>
          </div>
          <div class="row">
            <span class="text-left">
              <span class="badge text-wrap text-light" [style.background-color]="
                  !ticket.type ? 'black' : ticket.type.colorValue
                ">
                {{ !ticket.type ? '' : ticket.type.nameToDisplay }}
                <i class="{{ !ticket.type ? '' : ticket.type.faIcon }}"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <div class="row small text-muted">
          Vertrag
        </div>
        <div class="row">
          <div class="text-left small g-0">
            {{ ticket.getTicketingContract.displayInfo
            }})
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 bg-light rounded-3">
      <ul class="nav nav-pills mb-3 justify-content-center justify-content-md-start" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <i class="fas fa-comments"></i>
            <span class="ps-1 d-none d-md-inline">Kommentare </span>
            ({{ !ticket.notes ? '' : ticket.notes.length }})
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-einmeldetext"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <i class="fas fa-sticky-note"></i>
            <span class="ps-1 d-none d-md-inline">Beschreibung </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
            role="tab" aria-controls="pills-contact" aria-selected="false">
            <i class="fas fa-address-book"></i>
            <span class="ps-1 d-none d-md-inline">Kontakte </span>({{ !ticket.contacts ? '' : ticket.contacts.length }})
          </a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane active bg-light" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="row bg-light">
            <div class="card bg-light" *ngFor="let note of ticket.notes">
              <div class="bg-light">
                <div class="row d-flex bd-highlight align-items-center mt-2 text-center">
                  <div class="col d-flex justify-content-start align-items-center">
                    <ngx-avatar class="mx-2" size="35" name="{{ note.createdBy.nameToDisplay }}"></ngx-avatar>

                    {{ !note.createdBy ? '' : note.createdBy.christianName + " " + note.createdBy.lastName }}
                  </div>

                  <div class="col d-flex justify-content-end">
                    <div class="text-muted text-center mx-1">
                      {{ note.creationDate + " " + secondsToTime(note.getTsCreation) }} ({{ note.creationDate |
                      DayAgo}})
                    </div>
                    <div class="text-left badge text-wrap p-2" [style.background-color]="
                        !note.state ? 'black' : note.state.colorValue
                      ">
                      {{ !note.state ? '' : note.state.nameToDisplay }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body bg-light">
                <div class="scrollable overflow-auto" [innerHTML]="note.text" style="height: auto;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-einmeldetext" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row mt-2">
            <div class="row mt-1 pb-1">
              <div class="scrollable overflow-auto" [innerHTML]="ticket.longText" style="height: auto;"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <table class="table">
            <tr>
              <th>
                Name
              </th>
              <th>
                E-Mail
              </th>
              <th>
                Telefon
              </th>
            </tr>
            <tr *ngFor="let contact of this.ticket.contacts">
              <td>
                <ngx-avatar class="me-2 d-inline-flex" size="35"
                  name="{{ contact.christianName + ' ' + contact.lastName }}"></ngx-avatar>
                {{ contact.christianName + " " + contact.lastName }}
              </td>
              <td>
                {{ contact.email }}
              </td>
              <td>
                {{ contact.mobile }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-coment-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"></app-create-coment-modal>
<app-discard-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"></app-discard-modal>
<app-done-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"></app-done-modal>
<app-reopen-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"></app-reopen-modal>
<app-assign-reporter-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"
  [contactList]="contactsWithoutTicketContacts">
</app-assign-reporter-modal>
<app-change-ticket-title-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket">
</app-change-ticket-title-modal>
<app-new-requestor-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"
  [contactList]="contactsWithoutRequestor">
</app-new-requestor-modal>
<app-remove-reporter-modal (stateChanged)="onStateChange($event)" [forTicket]="ticket"></app-remove-reporter-modal>